#about-page {
    display: flex;
    flex-direction: column;
}

#about-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align:left;
    width: 700px;
    margin: 0 auto;
    padding: 15px;
}

#about-info :first-child {
    flex: 1;
    margin-right: 15px;
}

#about-info :last-child {
    flex:2;
}

#resume {
    display: block;
    font-size: 20px;
    background: var(--main-bk-color);
    margin: 15px auto;
    width: 150px;
    padding: 5px;
    border-radius: 20px;
    border: var(--main-bk-color-half) solid 2px;

    transition: .15s;
}

#resume:hover {
    border: var(--main-color) solid 2px;
}

#current-projects {
    text-align:left;
}

#current-projects h1 {
    padding-left: 15px;
}

#current-projects li {
    padding: 2em 0;
    width: 700px;
    margin: 0 auto;
}

#current-projects li:not(:last-child) {
    border-bottom: var(--main-bk-color) dashed 4px;
}

#current-projects .description {
    text-align: left;
}

#portrait-box {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: var(--deeper-bk-color) solid 8px;
}

#portrait {
    width: 100%;
    border-radius: 50%;
}

.banner {
    background: var(--main-bk-color-half);
}

.title {
    margin-bottom: 15px;
}

.width-constraint {
    width: 500px;
    margin: 0 auto;
}

@media only screen and (max-width: 700px) {
    #portrait-box {
        width:150px;
        height: 150px;
    }

    #about-info {
        display: inline-block;
        width: 100%;
    }
    
    #about-info :first-child {
        margin: 0 auto;
    }

    .title {
        padding-bottom: 15px;
    }

    #current-projects li{
        padding: 15px;
        width: 100%;
    }
}