

main > div {
    flex: 1;
    text-align:center;
    padding: 15px 0;
    /* vertical-align: top; */
}


/* Custom Classes */

main {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* overflow-y: auto; */
    background: var(--deeper-bk-color);
    flex: 1;
}